.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    /* min-width: 100px; */
    background-color: white;
    z-index: 1;
    max-width: 300px;
    float: 1;
    transition: 0.4s;
    
}

.product:hover {
    box-shadow: 0px 0px 10px 1px #131921;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    max-width: 200px;
    flex: 1;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product__buttons {
    display: flex;
    
}

.product__buttons > button {
    outline-width: 0;
    padding: 5px 10px;
    background-color: #f0c14b;
    border: 1px solid;
    margin : 5px;
    margin-top : 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111; 
    font-weight: 600;
    text-transform: uppercase;
}

.product__buttons > button:hover {
    cursor: pointer;
    
}

.product__info {
    margin-bottom: 20px;
    flex: 1;
}

